@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply text-white;
  background-color: black;
}

@layer components {
  .border-gradient {
    position: relative;
    background-color: transparent;
    padding: 4px;
  }

  .border-gradient::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, red, blue);
    z-index: -1;
    border-radius: inherit;
  }

  .gradient-shadow {
    position: relative;
  }

  .gradient-shadow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, red, blue);
    filter: blur(10px);
    z-index: -1;
    border-radius: inherit;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .phone-parent-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .phone-layout {
    background-color: #09141A;
    width: 375px;
    margin: auto;
  }

  @media screen and (min-height: 813px) {
    .phone-layout {
      height: 812px;
      border-radius: 24px;
    }
  }
  
  @media screen and (max-height: 812px) {
    .phone-layout {
      height: 100vh;
    }
  }
}


